project/__pycache__
tests/__pycache__
project/classifier/__pycache__
project/classifier/datatool/__pycache__
project/classifier/parse/__pycache__
project/classifier/train/__pycache__
project/classifier/models/wiki.ja.bin
project/classifier/models/wiki.ja.vec